{% extends "base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }} | {% endif %}Blog | Mingma Moktan
{% endblock %}

{% block content %}
<div class="text-center my-5">
    <h1 class="display-4">
        {% if category %}
            {{ category.name }}
        {% else %}
            Blog
        {% endif %}
    </h1>
    <p class="lead">
        {% if category %}
            Posts under "{{ category.name }}"
        {% else %}
            Read my latest posts!
        {% endif %}
    </p>
</div>

<div class="container">
    {% if posts and posts|length > 0 %}
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="p-3 bg-dark text-light rounded h-100 d-flex flex-column justify-content-between post-card">
                        <h5>{{ post.title }}</h5>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary mt-auto btn-sm">Read More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-light">No posts available.</p>
    {% endif %}
</div>
{% endblock %}
